<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">Gallery</div>
  <div class="panel-body">

   <form #f="ngForm" (ngSubmit)="onSearch(f.value)">

     <div class="form-group">
       <label class="control-label">Mot Clé :</label>
       <input type="text" name="motCle" ngModel required [(ngModel)]="motCle">
       <button class="btn btn-primary margin" type="submit">Chercher</button>
     </div>

   </form>
 <div class="row">
    <div  *ngFor="let p of pagePhotos?.hits" class="col-md-3 ">

      <div class="panel panel-primary cadre ">
        <div class="panel-heading">

           <img class="img-circle" src="{{p.userImageURL}}" width="50" height="50">
        </div>
        <div class="panel-body">
          <div>
            <p>User : {{p.user}}</p>

          </div>
          <img src="{{p.previewURL}}">
        </div>
      </div>
    </div>
 </div>
   <div class="row">
    <div>
      <ul class="nav nav-pills">
        <li  [ngClass]="{'active':currentPage==(i+1)}" class="clickable" *ngFor="let page of pages , let i = index">
          <a (click)="goTopage(i)">{{i}}</a>
        </li>


      </ul>


    </div>

   </div>
    </div>


</div>
</div>
